* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-size: cover;
    background-position: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    background-image: url('Artboard 1.png');
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    margin-top: 6rem;
    width: 70%;
    margin: auto;
    padding: 2rem;
    justify-content: center;
    color: #ffffff;
    font-size: 14px;
}

.openMenu {
    display: none;
}

.closeMenu {
    display: none;
}

nav .mainMenu {
    display: flex;
    gap: 9%;
    text-align: center;
    justify-content: center;
    margin-right: 3rem;
}

nav .mainMenu li {
    list-style: none;
}

nav .mainMenu li a {
    text-decoration: none;
}

nav .mainMenu li a:hover {
    background-color: #ee6c4d;
    opacity: 30%;
    padding: 0.6rem;
    transition: 2s ease-out;
    color: #98c1d9;
}

.ac-welcome {
    line-height: 1.6;
    text-align: center;
    font-size: 60px;
    color: #ffffff;
    padding: 0.5rem;
    gap: 5%;
    width: 100%;
    margin: auto;
    justify-content: center;
    margin-top: 3rem;
    font-weight: 1000;
}

.ac-welcome-text {
    margin-top: 5rem;
}

.ac-header {
    line-height: 1.6;
    text-align: center;
    font-size: 24px;
    color: #293241;
    padding: 0.7rem;
    gap: 5%;
    width: 80%;
    margin: auto;
    justify-content: center;
    margin-top: 3rem;
}

.ac-header p {
    margin-top: 0.5rem;
}

.ac-welcoming {
    display: flex;
    margin-right: 2.5rem;
}

.ac-welcome-img img {
    margin-top: 1.7rem;
    margin-bottom: 1.7rem;
    width: 50%;
}

.down-arrow {
    margin-top: 2rem;
    animation: bounce 2s infinite;
    text-align: center;
    margin: auto;
    justify-content: center;
}

.down-arrow img {
    width: 3%;
}

.up-arrow {
    margin-top: 2rem;
    animation: bounce 2s infinite;
    text-align: center;
    margin: auto;
    justify-content: center;
}

.up-arrow img {
    width: 3%;
}

.acm-title {
    text-align: center;
    width: 100%;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #293241;
    font-size: 24px;
    font-weight: 2000;
    margin-top: 26rem;
    margin-bottom: 3rem;
}

.page-viewer{
    position: relative;
    max-width: 90%;
    margin: auto;
    overflow: hidden; 
    display: flex;
    align-items: center;
    background: #f0f0f0;
    border-radius: 10px;
    padding: 1rem;
}

.image-slider {
    display: flex;
    transition: transform 0.4s ease-in-out;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.image-slider img {
    width: 70%;
    /*max-width: 300px;*/
    margin: 10px;
    border-radius: 8px;
    flex-shrink: 0;
}

.arrow {
    background-color: #222;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 44px;
    z-index: 10;
}
  
.arrow-left {
    margin-left: 10px;
}

.arrow-right {
    margin-right: 10px;
}

.acm-link {
    margin-top: 0.5rem;
    text-align: center;
}

.acm-link img {
    width: 5%;
}

.acm-resource {
    margin-top: 1rem;
    margin-bottom: 3rem;
    line-height: 1.6;
    text-align: center;
    font-size: 16px;
    color: #293241;
    padding: 3rem;
    gap: 5%;
    width: 100%;
    margin: auto;
    justify-content: center;
    font-weight: 500;
}

.acm-resource img {
    width: 3%;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #293241;
    font-size: 18px;
    font-weight: 2000;
    margin-top: 0.5rem;
}

.da-title {
    text-align: center;
    width: 100%;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #293241;
    font-size: 24px;
    margin-top: 20rem;
    margin-bottom: 3rem;
}

.da-resource {
    margin-top: 1rem;
    margin-bottom: 3rem;
    line-height: 1.6;
    text-align: center;
    font-size: 16px;
    color: #293241;
    padding: 3rem;
    gap: 5%;
    width: 100%;
    margin: auto;
    justify-content: center;
    font-weight: 500;
}

.da-resource img {
    width: 3%;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #293241;
    font-size: 18px;
    font-weight: 2000;
    margin-top: 0.5rem;
}

.da-link {
    margin-top: 0.5rem;
    text-align: center;
}

.da-link img {
    width: 5%;
}

.crr-title {
    text-align: center;
    width: 100%;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #293241;
    font-size: 24px;
    font-weight: 2000;
    margin-top: 20rem;
    margin-bottom: 3rem;
}

.crr-resource {
    margin-top: 1rem;
    margin-bottom: 3rem;
    line-height: 1.6;
    text-align: center;
    font-size: 16px;
    color: #293241;
    padding: 3rem;
    gap: 5%;
    width: 100%;
    margin: auto;
    justify-content: center;
    font-weight: 500;
}

.crr-resource img {
    width: 3%;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #293241;
    font-size: 18px;
    font-weight: 2000;
    margin-top: 0.5rem;
}

.crr-link {
    margin-top: 0.5rem;
    text-align: center;
    font-size: 16px;
}

.crr-link {
    width: 5%;
}

.bft-title {
    text-align: center;
    width: 100%;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #293241;
    font-size: 24px;
    font-weight: 2000;
    margin-top: 20rem;
}

.bftimg {
    display: flex;
}

.bft {
    line-height: 1.4;
    color: #293241;
    background-size: cover;
    background-position: center;
    background: #ffffff;
    opacity: 80%;
    padding: 3rem;
    width: 80%;
    margin: auto;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border: 5px solid #3d5a80;
}

.bft-img img {
    margin-top: 1.7rem;
    margin-bottom: 1.7rem;
    width: 50%;
}

.bft-title {
    text-align: center;
    width: 100%;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #293241;
    font-size: 24px;
    font-weight: 2000;
}

.bft-text {
    text-align: left;
    width: 60%;
    line-height: 1;
    letter-spacing: 1px;
    color: #293241;
    font-size: 12px;
    margin-bottom: 0.3rem;
    font-weight: 500;
}

.mcp-title {
    text-align: center;
    width: 100%;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #293241;
    font-size: 24px;
    font-weight: 2000;
    margin-top: 20rem;
    margin-bottom: 3rem;
}

.mcp-resource {
    margin-top: 1rem;
    margin-bottom: 3rem;
    line-height: 1.6;
    text-align: center;
    font-size: 16px;
    color: #293241;
    padding: 3rem;
    gap: 5%;
    width: 100%;
    margin: auto;
    justify-content: center;
    font-weight: 500;
}

.mcp-resource img {
    width: 2.5%;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #293241;
    font-size: 18px;
    font-weight: 2000;
    margin-top: 0.5rem;
}

.mcp-link {
    margin-top: 0.5rem;
    text-align: center;
}

.mcp-link img{  
    width: 5%;
}

.author {
    margin-top: 6rem;
    margin-bottom: 3rem;
    line-height: 1.6;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    padding: 3rem;
    gap: 5%;
    width: 100%;
    margin: auto;
    justify-content: center;
    font-weight: 500;
}

.author img {
    width: 2.5%
}

.copyright {
    text-align: center;
    padding: 5rem;
    margin-top: 0.7rem;
    color: #ffffff;
    font-size: 16px;
}

@media(max-width: 800px) {
    nav .mainMenu {
        background-color: white;
        width: 80%;
        height: 36vh;
        gap: 0%; 
        flex-direction: column;
        position: fixed;
        top: 0;
        z-index: 1;
        gap: 6%;
        animation: slideInFromRight 2s ease-out;
        transition: top 1.5s ease;
        display: none;
        opacity: 80%;
    }

    .new-nav {
        position: fixed;
        top: 0;
        z-index: 1000;
    }
        
    .logo p {
        font-size: 12px;
        margin: 0;
        margin-left: 1rem;
        margin-top: 0.8rem;
    }

    .openMenu {
        display: grid;
    }

    .closeMenu {
        display: grid;
    }

    .openMenu img {
        width: 10%;
        margin-left: 18rem;
    }

    .closeMenu img {
        width: 5%;
        margin-left: 6rem;
        margin-top: 2rem;
    }

    .welcome-text{
        font-size: 12px;
    }

    .header {
        font-size: 14px;
        width: 100%;
    }

    .down-arrow {
        margin-top: 1rem;
        animation: bounce 2s infinite;
    }

    .down-arrow img {
        width: 5%;
    }
    
    .up-arrow {
        margin-top: 1rem;
        animation: bounce 2s infinite;
    }

    .up-arrow img {
        width: 5%;
    }

    .ac-welcome {
        line-height: 1.6;
        text-align: center;
        font-size: 34px;
        color: #ffffff;
        padding: 0.5rem;
        gap: 5%;
        width: 100%;
        margin: auto;
        justify-content: center;
        margin-top: 3rem;
        font-weight: 1000;
    }
    
    .ac-welcome-text {
        margin-top: 5rem;
        font-size: 22px;
    }
    
    .ac-header {
        line-height: 1.6;
        text-align: center;
        font-size: 12px;
        color: #293241;
        padding: 0.7rem;
        gap: 5%;
        width: 100%;
        margin: auto;
        justify-content: center;
        margin-top: 3rem;
    }
    
    .ac-header p {
        margin-top: 0.5rem;
    }
    
    .ac-welcoming {
        display: flex;
        margin-right: 2.5rem;
    }
    
    .ac-welcome-img img {
        margin-top: 1.7rem;
        margin-bottom: 1.7rem;
        width: 50%;
    }
    
    .down-arrow {
        margin-top: 1rem;
        animation: bounce 2s infinite;
    }
    
    .up-arrow {
        margin-top: 1rem;
        animation: bounce 2s infinite;
    }
    
    .acm-title {
        text-align: center;
        width: 100%;
        line-height: 1.5;
        letter-spacing: 1px;
        color: #293241;
        font-size: 16px;
        margin-top: 26rem;
    }
    
    .page-viewer{
        position: relative;
        max-width: 90%;
        margin: auto;
        overflow: hidden; 
        display: flex;
        align-items: center;
        background: #f0f0f0;
        border-radius: 10px;
        padding: 1rem;
    }
    
    .image-slider {
        display: flex;
        transition: transform 0.4s ease-in-out;
        overflow-x: auto;
        scroll-behavior: smooth;
    }
    
    .image-slider img {
        width: 70%;
        /*max-width: 300px;*/
        margin: 10px;
        border-radius: 8px;
        flex-shrink: 0;
    }
    
    .arrow {
        background-color: #222;
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
        font-size: 44px;
        z-index: 10;
    }
      
    .arrow-left {
        margin-left: 10px;
    }
    
    .arrow-right {
        margin-right: 10px;
    }
    
    .acm-link {
        margin-top: 0.5rem;
        text-align: center;
        font-size: 11px;
    }

    .acm-link img {
        width: 5%;
    }
    
    .acm-resource {
        margin-top: 1rem;
        margin-bottom: 3rem;
        line-height: 1.6;
        text-align: center;
        font-size: 11px;
        color: #293241;
        padding: 3rem;
        gap: 5%;
        width: 100%;
        margin: auto;
        justify-content: center;
        font-weight: 500;
    }
    
    .acm-resource img {
        width: 5%;
        text-align: center;
        line-height: 1.5;
        letter-spacing: 1px;
        color: #293241;
        font-size: 11px;
        font-weight: 2000;
        margin-top: 0.5rem;
    }
    
    .da-title {
        text-align: center;
        width: 100%;
        line-height: 1.5;
        letter-spacing: 1px;
        color: #293241;
        font-size: 16px;
        margin-top: 20rem;
        margin-bottom: 3rem;
    }
    
    .da-resource {
        margin-top: 1rem;
        margin-bottom: 3rem;
        line-height: 1.6;
        text-align: center;
        font-size: 11px;
        color: #293241;
        padding: 3rem;
        gap: 5%;
        width: 100%;
        margin: auto;
        justify-content: center;
        font-weight: 500;
    }
    
    .da-resource img {
        width: 5%;
        text-align: center;
        line-height: 1.5;
        letter-spacing: 1px;
        color: #293241;
        font-size: 11px;
        font-weight: 2000;
        margin-top: 0.5rem;
    }
    
    .da-link {
        margin-top: 0.5rem;
        text-align: center;
        font-size: 12px;
    }
    
    .da-link img {
        width: 5%;
    }

    .crr-title {
        text-align: center;
        width: 100%;
        line-height: 1.5;
        letter-spacing: 1px;
        color: #293241;
        font-size: 16px;
        margin-top: 20rem;
        margin-bottom: 3rem;
    }
    
    .crr-resource {
        margin-top: 1rem;
        margin-bottom: 3rem;
        line-height: 1.6;
        text-align: center;
        font-size: 11px;
        color: #293241;
        padding: 3rem;
        gap: 5%;
        width: 100%;
        margin: auto;
        justify-content: center;
        font-weight: 500;
    }
    
    .crr-resource img {
        width: 5%;
        text-align: center;
        line-height: 1.5;
        letter-spacing: 1px;
        color: #293241;
        font-size: 11px;
        font-weight: 2000;
        margin-top: 0.5rem;
    }
    
    .crr-link {
        margin-top: 0.5rem;
        text-align: center;
        font-size: 11px;
    }

    .crr-link img {
        width: 5%;
    }
    
    .bft-title {
        text-align: center;
        width: 100%;
        line-height: 1.5;
        letter-spacing: 1px;
        color: #293241;
        font-size: 16px;
        margin-top: 20rem;
    }
    
    .bftimg {
        display: flex;
    }
    
    .bft {
        line-height: 1.4;
        color: #293241;
        background-size: cover;
        background-position: center;
        background: #ffffff;
        opacity: 80%;
        padding: 3rem;
        width: 80%;
        margin: auto;
        justify-content: center;
        margin-top: 3rem;
        margin-bottom: 3rem;
        border: 5px solid #3d5a80;
    }
    
    .bft-img img {
        margin-top: 1.7rem;
        margin-bottom: 1.7rem;
        width: 50%;
    }
    
    .bft-text {
        text-align: left;
        width: 60%;
        line-height: 1;
        letter-spacing: 1px;
        color: #293241;
        font-size: 12px;
        margin-bottom: 0.3rem;
        font-weight: 500;
    }
    
    .mcp-title {
        text-align: center;
        width: 100%;
        line-height: 1.5;
        letter-spacing: 1px;
        color: #293241;
        font-size: 16px;
        margin-top: 20rem;
        margin-bottom: 3rem;
    }

    .mcp-resource {
        margin-top: 1rem;
        margin-bottom: 3rem;
        line-height: 1.6;
        text-align: center;
        font-size: 11px;
        color: #293241;
        padding: 3rem;
        gap: 5%;
        width: 100%;
        margin: auto;
        justify-content: center;
        font-weight: 500;
    }
    
    .mcp-resource img {
        width: 5%;
        text-align: center;
        line-height: 1.5;
        letter-spacing: 1px;
        color: #293241;
        font-size: 11px;
        font-weight: 2000;
        margin-top: 0.5rem;
    }
    
    .mcp-link {
        margin-top: 0.5rem;
        text-align: center;
        font-size: 11px;
    }

    .mcp-link img{  
        width: 5%;
    }
    
    .author {
        margin-top: 6rem;
        margin-bottom: 3rem;
        line-height: 1.6;
        text-align: center;
        font-size: 10px;
        color: #ffffff;
        padding: 3rem;
        gap: 5%;
        width: 100%;
        margin: auto;
    }
    
    .author img {
        width: 4%;
    }
    
    .copyright {
        margin-top: 0.7rem;
        margin-bottom: 8rem;
        line-height: 1.6;
        text-align: center;
        font-size: 10px;
        color: #ffffff;
        padding: 3rem;
        gap: 5%;
        width: 100%;
        margin: auto;
        justify-content: center;
    }

    @keyframes bounce {
        0%, 100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-10px);
        }
    }
}